@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: Montserrat;
  background-color: #f4f4f4;
}

.text {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 30px;
  border-radius: 10px;
}

.container-aboutus {
  margin-top: 5%;
  background-color: white;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-image: url("https://media.istockphoto.com/id/1397030090/es/foto/colorido-cielo-pastel-con-nubes-al-hermoso-atardecer-como-fondo-natural.jpg?s=612x612&w=0&k=20&c=C7LeNaFW85P1O2p9cnUF7uKxKDidDdnEnCtjd9pSO6A=");
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2%;
  text-transform: uppercase;
}

.content {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.P1 {
  background-color: rgba(0, 0, 0, 0.599);
  color: white;
  padding: 10px;
  border-radius: 10px;
  
}
