body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.text{
  background-color: rgba(128, 128, 128, 0.5);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2%;
}

.content {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.P1,
.P2,
.P3,
.P4{
 
  background-color: rgba(0, 0, 0, 0.599);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

