.login-container {
    max-width: 60%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #0000006c;
    text-align: center;
    margin-top: 5%;
  }
  
 
  .login-title {
    margin-bottom: 20px;
    font-size: 60px;
    color: #ffffff;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
  }

  .login-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
  }
  

  .login-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .login-input:focus {
    border-color: #000000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  

  .login-button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: #156e0c;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 3%;
  }
  
  .login-button:hover {
    background-color: #33a44e;
  }
  
  
  .login-message {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
  }