@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

.titulo-banner-style {
  padding-top: 8%;
  font-family: Rubik Mono One;
  font-size: 800%;
  color: white;
  position: relative;
  margin-left: 10%;
}

.background-banner {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  height: 500px;
  margin-top: 4.2%;
  background: linear-gradient(
    45deg,
    #c48cb3,
    #e5c9d7,
    #83a6ce,
    #26415e,
    #0b1b32
  );
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shape {
  margin-left: -7%;
  margin-top: -19%;
  width: 500px;
  height: 470px;
  background: linear-gradient(45deg, #26415e, #83a6ce, #c48cb3);
  animation: morph 4s infinite;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}







@keyframes morph {
  0%,
  100% {
    border-radius: 50%;
  }
  25% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 30%;
  }
  50% {
    border-radius: 70% 30% 30% 70% / 70% 30% 70% 30%;
  }
  75% {
    border-radius: 50% 50% 30% 50%;
  }
}
