.Poster {
  display: flex;
  margin-top: 3%;
}

.titulo-select {
  background-color: rgba(0, 0, 0, 0.594);
  text-align: center;
  margin-top: 3%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 3%;
}

.poster-img-selc {
  width: 30%;
  margin-left: 35%;
  margin-bottom: 1%;
}

.poster-img {
  margin-left: 10px;
  border-radius: 10px;
}

.Titulo {
  color: white;
  padding: 10px;
  height: 50%;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  margin-left: 3%;
  background-color: rgba(0, 0, 0, 0.515);
}

.informacion {
  background-color: rgba(0, 0, 0, 0.372);
  padding: 20px;
  color: white;
  border-radius: 10px;
  width: 50%;
  margin-top: -50%;
  margin-left: 3%;
  margin-right: 10px;
}

.info-selec {
  background-color: rgba(0, 0, 0, 0.591);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-summary-selec,
.movie-release-date,
.movie-summary,
.movie-rating,
.movie-duration {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.movie-summary-selec:hover,
.movie-release-date:hover,
.movie-summary:hover,
.movie-rating:hover,
.movie-duration:hover {
  background-color: rgba(0, 0, 0, 0.85);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie-release-date h3,
.movie-summary h3,
.movie-rating h3,
.movie-duration h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.movie-summary-selec,
.movie-release-date p,
.movie-summary p,
.movie-rating p,
.movie-duration p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
