@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.Estrellas {
  display: flex;
  margin-bottom: 1%;
  margin-top: 2%;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  background-color: rgb(255, 255, 255);
  margin-top: 3%;
  font-size: 250%;
  padding: 10px;
  margin-left: 16%;
  margin-right: 16%;
  border-radius: 20px;
  font-family: Montserrat;
}

h2 {
  color: rgb(56, 48, 48);
  padding-top: 20px;
  font-family: Montserrat;
}

.fondo {
  background-color: rgba(255, 255, 255, 0.658);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.644);
}
