.Estrellas {
  display: flex;
  justify-content: center;
  margin-bottom: 0%;
  margin-top: 2%;
  background-color: rgba(0, 0, 0, 0.507);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: white;
  padding-top: 20px;
}

.fondo {
  background-color: rgba(0, 0, 0, 0.658);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.644);
}
